<ActionBar title="Home">
</ActionBar>

<side-drawer-page>
    
  <!-- Load image from App_Resources -->
<Label text="Image loaded from resources" textWrap="true" class="h3 p-l-15 p-r-15 p-t-15 text-left"></Label>

<Image src="http://img.sparknotes.com/content/sparklife/sparktalk/2014/lockerstuff07_LargeWide.gif" stretch="none" class="img-rounded p-l-15 p-r-15 p-t-15"></Image>
<!-- Load image from app/images folder -->
<Label text="Image loaded from custom folder" textWrap="true" class="h3 p-l-15 p-r-15 p-t-15 text-left"></Label>
<Image src="~/images/logo.png" stretch="none" class="img-rounded p-l-15 p-r-15 p-t-15"></Image>
<!-- Load image from url -->
<Label text="Image loaded from URL" textWrap="true" class="h3 p-l-15 p-r-15 p-t-15 text-left"></Label>
<Image src="https://docs.nativescript.org/img/cli-getting-started/angular/chapter0/NativeScript_logo.png"
    stretch="none" class="img-rounded p-l-15 p-r-15 p-t-15"></Image>
</side-drawer-page>
