<ActionBar title="Account Settings">
</ActionBar>

<side-drawer-page>
  <GridLayout class="p-30">
    <Label
        class="h1 page-text"
        [text]="text"
        textWrap="true">
    </Label>
</GridLayout>
  
</side-drawer-page>
