.sidedrawer-header {
  padding-top: 25;
  padding-bottom: 25;
  background-color: #FFC200;
}

.sidedrawer-header .sidedrawer-header-image {
  margin-bottom: 20
}

.sidedrawer-header .sidedrawer-header-brand {
  font-size: 18;
  color: #fff;
}

.sidedrawer-content .sidedrawer-list-item-text {
  color: #777;
}

.sidedrawer-list-item-text.borderless-btn {
  text-transform: capitalize;
  padding-right: 20%;
  width: 100%;
  border-width: 0;
}
