<ActionBar title="New Connection">
</ActionBar>

<side-drawer-page>
        <TabView [(ngModel)]="tabSelectedIndex" selectedColor="#FF0000" iosIconRenderingMode="alwaysOriginal" sdkExampleTitle sdkToggleNavButton>
                <StackLayout *tabItem="{title: 'Profile', iconSource: 'res://icon'}">
                    <StackLayout>
                        <Label [text]="'Profile Tab (tabSelectedIndex = '+ tabSelectedIndex +')'" class="h2 m-t-16 text-center" textWrap="true"></Label>
                        <Button text="Change Tab via ngModel" (tap)="changeTab()" class="btn btn-primary btn-active"></Button>
                    </StackLayout>
                </StackLayout>
                <StackLayout *tabItem="{title: 'Stats'}">
                    <StackLayout>
                        <Label [text]="'Stats Tab (tabSelectedIndex = '+ tabSelectedIndex +')'" class="h2 m-t-16 text-center" textWrap="true"></Label>
                        <Button text="Change Tab via ngModel" (tap)="changeTab()" class="btn btn-primary btn-active"></Button>
                    </StackLayout>
                </StackLayout>
                <StackLayout *tabItem="{title: 'Settings'}">
                    <StackLayout>
                        <Label [text]="'Settings Tab (tabSelectedIndex = '+ tabSelectedIndex +')'" class="h2 m-t-16 text-center" textWrap="true"></Label>
                        <Button text="Change Tab via ngModel" (tap)="changeTab()" class="btn btn-primary btn-active"></Button>
                    </StackLayout>
                </StackLayout>
            </TabView>

</side-drawer-page>
